body {
        background-color: #303030;
}

#container{
    color: white;
}

#container img {
    right: 0;
    position: absolute;
    width: 10%;
    height: auto;
}
/* Bordered form */
form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
input[type=submit] {
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
input[type=submit]:hover {
    background-color: white;
    color: red;
    border: 1px solid red;
}

.button {
    background-color: red;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 25px;
    display: inline;
    margin-left: 5px;
    left: 0;
  }

 .title{
    width: 38%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: center;
    color: white;
}

#news {
    margin-top: 15vh;
    color: white;
    overflow-y: scroll;
    height: 75vh;

}

.article_title {
    text-align: center;
}

#news img {
    width: 50vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.articlerow {
    margin-bottom: 10vh;
    width: 50vw;
    margin-left: 25vw;
}

#news h3 {
    text-align: right;
}

p {
    text-align: center;
}