<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EpiFlipboard</title>
  <link type="text/css" rel="stylesheet" href="css/home.css">
  <link type="text/css" rel="stylesheet" href="css/research.css">
</head>

<body>
  
  <div id="container">
    <a class="button" href="http://localhost:3000/login" onclick="window.location.href='http://localhost:3000/login'">Connexion</a>

    <a class="button" href="http://localhost:3000/signin" onclick="window.location.href='http://localhost:3000/signin'">Inscription</a>  

    <img src="img/logo2.png">
  </div>

  <H1 class="title">EpiFlipboard</H1>
  
  <div class="wrap">
    <div class="search">
       <input type="text" class="searchTerm" id="trump" placeholder="Recherche un article avec un mot-clé">
       <button type="submit" class="searchButton" onclick="searchButton()">
         <i class="fa fa-search"></i>
      </button>
    </div>
 </div>

  <div id="news">

  </div>

</body>

<script src="js/newsapi.js"></script>
</html>