<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EpiFlipboard</title>
  <link type="text/css" rel="stylesheet" href="css/home.css">
</head>

<body>
  <div id="container">
    <H1 class="title">EpiFlipboard</H1>
    <a class="button" href="http://localhost:3000/login" onclick="window.location.href='http://localhost:3000/login'">Connexion</a>

    <a class="button" href="http://localhost:3000/signin" onclick="window.location.href='http://localhost:3000/signin'">Inscription</a>  
  
  </div>

  <script src="/__/firebase/7.15.0/firebase-app.js"></script>
  <script src="/__/firebase/7.15.0/firebase-analytics.js"></script>
  <script src="/__/firebase/7.15.0/firebase-auth.js"></script>
  <script src="/__/firebase/7.15.0/firebase-firestore.js"></script>

  <script src="js/newspai.js"></script>

</body>

	<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-app.js%22%3E"> </script>
  <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-analytics.js%22%3E"> </script>
  
  <script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
      apiKey: "AIzaSyAuCVJBCHJmtISIZ8FbzkrdFfAvY5aXEuI",
      authDomain: "epiflipboard-3d596.firebaseapp.com",
      databaseURL: "https://epiflipboard-3d596.firebaseio.com/",
      projectId: "epiflipboard-3d596",
      storageBucket: "epiflipboard-3d596.appspot.com",
      messagingSenderId: "487209646537",
      appId: "1:487209646537:web:864903f9fd9715efee9018",
      measurementId: "G-ELXDR9YFCH"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
  </script>

  <script src="js/newspai.js"></script>

</html>