<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EpiFlipboard</title>
  <link type="text/css" rel="stylesheet" href="css/home.css">
  <link type="text/css" rel="stylesheet" href="css/research.css">
</head>

<body>
  
  <div id="container">
    <a id="connect" class="button" href="http://localhost:3000/login" onclick="window.location.href='http://localhost:3000/login'">Connexion</a>

    <a id="sign" class="button" href="http://localhost:3000/signin" onclick="window.location.href='http://localhost:3000/signin'">Inscription</a>  
    <a id='logout' class="button" onclick="logout()">Déconnexion</a>
    <img src="img/logo2.png">
    <h3 id="user" hidden="true"></h3>
  </div>

  <H1 class="title">EpiFlipboard</H1>
  
  <div class="wrap">
    <div class="search">
       <input type="text" class="searchTerm" id="trump" placeholder="Recherche un article avec un mot-clé">
       <button type="submit" class="searchButton" onclick="searchButton()">
         <i class="fa fa-search"></i>
         Recherche
      </button>

      <button class="resetButton" onclick="reset()">
        Rénitialiser
      </button>
      <h3>Catégories:</h3>
      <select id="category" name="Category" onchange="searchCategory()">
        <option value="General">Général</option>
        <option value="Business">Business</option>
        <option value="Entertainment">Evénement</option>
        <option value="Health">Santé</option>
        <option value="Science">Science</option>
        <option value="Sports">Sports</option>
        <option value="Technology">Technologie</option>
      </select>
    
    </div>
 </div>

  <div id="news">

  </div>

</body>
<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-firestore.js"></script>
<script src = "js/firebase.js" > </script>
<script src="js/newsapi.js"></script>
</html>