<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EpiFlipboard</title>
  <link type="text/css" rel="stylesheet" href="css/coLog.css">
</head>

<body>
  <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-analytics.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-firestore.js"></script>

</body>


<div id="logo">
  <a href="http://localhost:3000" onclick="window.location.href='http://localhost:3000'"><img src="img/logo2.png"></a>
</div>

<div id="container">
    <h1>Inscription</h1>
      <label><b>Adresse mail</b></label>
      <input type="text" placeholder="Entrer votre adresse mail" name="mail" id="email" required>
      <br>
      <br>
      <label><b>Mot de passe</b></label>
      <input type="password" placeholder="Entrer le mot de passe" name="password" id="password" required>
      <br>
      <br>
      <input type="submit" id='submit' value='LOGIN' onclick="handleSignUp()">

</div>

<script src = "js/firebase.js" > </script>

</html>